.header_navbar{
    display: flex;
    width: 100%;
    background-color:  #264580;
    justify-content: space-between;
}
.header_navbar-list{
    list-style: none;
    color: #fff;
    text-decoration: none;
    margin: 10px 50px;
}
.header_navbar-item-link,
.header_navbar-item{
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
}
.header_navbar-item-link:hover,
.header_navbar-item:hover{
    cursor: pointer;
    /* color: #264580; */
    opacity: 0.8;
}
/* ------------------------------------header_with-search-------------------------------- */
.header_with-search{
    display: flex;
    align-items: center;
    margin: 10px 100px;
}
.header_logo{
    height: 150px;
}
.header_logo-link a{
    width: 88px;
    display: flex;
    height: 100%;
    margin: 0 auto;
}
.header_logo-link img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.header_title{
    margin: 0 200px 0 50px;
    line-height: 1.4;
}
.header_title p{
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
    color: #264580;
}
.header_title a {
    text-decoration: none;
    font-size: 2rem;
    color: #0d6fba;
}
.header_search{
    display: flex;
    flex: 1;
    height: 40px;
    border: 1px solid #264580;
    border-radius: 5px;
    width: 675px;
}
.header_search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0 16px;
    opacity: 0.6;
}
.header_search-btn{
    background-color: #264580;
    border: none;
    height: 36px;
    border-radius: 5px;
    margin: 1px 1px;
    padding: 0 24px;
}
.header_search-btn-icon{
    font-size: 1.4rem;
    color: #fff;
}
.header_search-btn:hover{
    opacity: 0.8;
}
/* ------------------------------------------header-menu---------------- */
.header_menu{
    display: flex;
    align-items: center;
    background-color: #264580;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 10px 120px;
}
.menu-item-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 60px;
    padding: 10px;
}
    .menu-item-link:hover{
        background-color: #0d6fba;
    }
.active{
    background-color: #0d6fba;
}
.banner{
    width: 100%;
}
/* -------------------------------------Container----------------------- */
.container{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}
.content{
    display: flex;
    flex-direction: column;
    /* width: 70%; */
}
.content_title{
    display: flex;
    align-items: center;
    border-left: 5px solid red;
    height: 40px;
    background-color: #F0F8FF;
}
.content_title p{
    font-size: 1.4rem;
    color: #264580;
    margin: 10px 0 10px 15px;
}
/* ---------------------------------------------- */
.content_main{
    margin: 20px 0;
    display: flex;
    border-right: 2px dashed #ADD8E6;
}
.content_main-img{
    width: 25%;
}
.content_main-img:hover{
    opacity: 0.8;
}
.content_main-img img{
    width: 100%;
    height: 100%;
}
.content_main-info{
    width: 75%;
    margin-left: 20px;
}
.content_main-info h2{
    color: #0d6fba;
}
.content_main-info a{
    text-decoration: none;
    color: #0066ff;
}
.content_main-info-icon i{
    font-size: 1rem;
    color: red;
}
.content_main-info-icon:hover{
    opacity: 0.5;
}
/* ------------------------------------------------ */
.news{
    width: 29%;
}
.news_title{
    display: flex;
    align-items: center;
    border-left: 5px solid red;
    background-color: #264580;
    height: 40px; 
}
.news_title p{
    font-size: 1.4rem;
    color: #fff;
    margin: 10px 0 10px 15px;
}
.news_main{
    margin: 20px 0;
    display: flex;
}
.news_main-info{
    display: flex;
    text-decoration: none;
    color: #264580;
    opacity: 0.8;
}
.news_main-info p {
    margin: 0;
    line-height: 1.7;
}
/* ------------------------------------------Footer------------------------------ */
.footer{
    height: 180px;
    background-color: #264580;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
}
.footer_about-us{
    display: flex;
    border-top: 1px solid #fff;
    justify-content: space-between;
    margin: 0 20px;
}
/* --------------------------------------btn-upload----------------- */
.upload{
    width: 100px;
    height: 100px;
    background-color: #0d6fba;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload_link{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none; 
    line-height: 2rem;
    font-size: 30px;
}
.pagination {
    display: inline-block;
    margin-left: 40%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
/* ------------------------------------------dissertation--------------- */
.nav-bar{
    color: #264580;
    margin: 10px 120px 10px 120px;
    border-bottom: 1px solid;
}
.dissertation__container{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}
.dissertation_filter{
    width: 30%;
    background-color: #0d6fba;
    height: 200px;
}
.dissertation_main{
    width: 70%;
    background-color: #0066ff;
    height: 200px;
}
